---
// src/pages/subtype.astro
import MainLayout from '../layouts/MainLayout.astro';
import SubTypeSelector from '../components/SubTypeSelector';
import { siteType } from '../store/siteStore';

// Redirect if no site type is selected
if (Astro.request.method === 'GET' && !siteType.get()) {
  return Astro.redirect('/build');
}
---

<MainLayout title="Choose Your Site Type - 29Dollar.Site">
  <div class="container mx-auto py-8">
    <SubTypeSelector client:load />
  </div>
</MainLayout>